body {
  background: url('/img/background.png');
  background-size: 100%;
  text-align: center;
}
.text_box {
  background-color: transparent;
  filter: alpha(opacity=50);
  opacity: 1;
  text-align: center;
  font-size: 20px;
  color: white;
}
#form_data {

}
