body {
    margin: 0;
    padding: 0;
    background-color: black;
}

.racer {
    margin: 0;
    padding: 0;
    border: none;
    width: 5%;
    height: 150px;
    line-height: 150px;
    font-family: Arial;
    font-size: 45px;
    text-align: center;
    background-color: green;
    border-style: solid;
    border-width: 1px;
    border-radius: 0 70px 70px 0;
}

.laneLight {
    height: 152px;
    width: 100%;
    background-color: #8B4513;
}

.laneDark {
    height: 152px;
    width: 100%;
    background-color: #D2691E;
}
