body {
    margin: 0;
    padding: 0;
    background-color: black;
}

.racer {
    margin: 0;
    padding: 0;
    border: none;
    width: 5%;
    height: 150px;
    line-height: 150px;
    font-family: Arial;
    font-size: 45px;
    text-align: center;
    border-style: solid;
    border-color: green;
    border-width: 0px;
    border-radius: 0 70px 70px 0;
    background: linear-gradient(to top right, yellow, orange);
//    animation-name: pulse;
//    animation-duration:  3s;
//    animation-iteration-count: infinite;
//    animation-timing-function: ease-in-out;
}

.leader {
    background: linear-gradient(to top right, yellow, green);
}

.low {
    background: linear-gradient(to top right, yellow, red);
}

.laneLight {
    height: 150px;
    width: 100%;
    background-color: #cdc9c9;
}

.laneDark {
    height: 150px;
    width: 100%;
    background-color: #cdc0b0;
}

@keyframes pulse {
    0% {background: radial-gradient(at 0%, yellow, green 90%);}  
    5% {background: radial-gradient(at 5%, yellow, green 90%);}  
    10% {background: radial-gradient(at 10%, yellow, green 90%);}  
    15% {background: radial-gradient(at 15%, yellow, green 90%);}  
    20% {background: radial-gradient(at 20%, yellow, green 90%);}  
    25% {background: radial-gradient(at 25%, yellow, green 90%);}  
    30% {background: radial-gradient(at 30%, yellow, green 90%);}  
    35% {background: radial-gradient(at 35%, yellow, green 90%);}  
    40% {background: radial-gradient(at 40%, yellow, green 90%);}  
    45% {background: radial-gradient(at 45%, yellow, green 90%);}  
    50% {background: radial-gradient(at 50%, yellow, green 90%);}  
    55% {background: radial-gradient(at 55%, yellow, green 90%);}  
    60% {background: radial-gradient(at 60%, yellow, green 90%);}  
    65% {background: radial-gradient(at 65%, yellow, green 90%);}  
    70% {background: radial-gradient(at 70%, yellow, green 90%);}  
    75% {background: radial-gradient(at 75%, yellow, green 90%);}  
    80% {background: radial-gradient(at 80%, yellow, green 90%);}  
    85% {background: radial-gradient(at 85%, yellow, green 90%);}  
    90% {background: radial-gradient(at 90%, yellow, green 90%);}  
    95% {background: radial-gradient(at 95%, yellow, green 90%);}  
    100% {background: radial-gradient(at 100%, yellow, green 90%);}
}
